.cards-section > .card,
.testimonial-section-cards > .card {
  margin-right: 0.3rem;
  margin-left: 0.4rem;
  border-radius: 10px;
  min-width: 14rem;
}

.cards-section > .card {
  max-height: 21rem;
  min-height: 21rem;
  border: none;
}

.cards-section .card-body {
  padding-top: 0.2rem;
}

.bg-dark {
  background-color: #eaeaeb !important;
}

.cards-section > .bg-dark {
  background-color: #eaeaeb !important;
  color: #000 !important;
}

.info-section {
  margin-top: 2rem;
  margin-right: 1rem;
}

.bi::before {
  color: rgba(216, 142, 76, 1) !important;
  font-size: 2rem;
}

.info-section > h2,
.info-section2 > h3,
.info-section-3 > h4,
.results-info-section > h4 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 26px;
  text-align: left;
  text-align-last: left;
}

blockquote {
  font-style: normal;
}

.card-logo {
  width: 2.25rem;
  height: 2.25rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

#InfoSection1 .card-header {
  background-color: unset !important;
  border-bottom: 0;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.accolades-section {
  padding: 3rem;
  margin: 0;
  color: #fff;
  background-image: url("../../../assets/courthouse-header-fixed-glare.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: normal;
}

.accolades-logo {
  /* Ensure the logo has full opacity and normal blending */
  opacity: 1;
  mix-blend-mode: plus-lighter;
}

.cover {
  background-image: url("../../../assets/courthouse-header-fixed-glare.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accolades-section .accolades-logo {
  width: 80%;
  margin: 0 auto;
}

.accolades-section > .container {
  padding: 0;
  margin: 0;
}

.img-section > img {
  width: 31.625rem;
  height: 32.563rem;
}

.info-section2 {
  margin-left: 3.5rem;
  max-width: 90%;
  width: 29rem;
}

.info-section2 h3 {
  margin: 1rem 0;
}

.cta-section,
.testimonial-section {
  padding: 4.5rem;
  margin: 0;
  color: #000;
}

.cta-section {
  background-color: #eaeaeb;
}

.cta-section h3 {
  font-size: 26px;
  margin-left: -6rem;
}

.btn-container {
  margin-left: 5rem;
}

.info-section-3 {
  width: 35.25rem;
  margin-right: 4rem;
  margin-left: 0;
}

.info-section-3-img {
  width: 30rem;
}

.results-info-section {
  margin-bottom: 2rem;
}

.results-info-section hr {
  margin: 2rem auto 0rem auto;
}

.results-info-section > h4 {
  max-width: 28.438rem;
  margin: 0 auto;
  text-align: center;
  text-align-last: center;
}

.results-info-section > p {
  width: 40rem;
  margin: 1.5rem auto 0 auto;
}

.results-card-section .card-header > strong {
  color: rgba(226, 164, 109, 1);
  font-weight: 700;
  font-size: 2.188rem;
}

.results-card-section .card-body > h3 {
  font-size: 1.4rem;
}

.results-card-section .card-body > p {
  font-size: 1.125rem;
  padding: 1rem auto;
}

.results-card-section .card-header {
  background-color: unset !important;
  border-bottom: 0 !important;
}

.results-card-section > .card {
  padding: 20px;
  min-width: 25rem;
  min-height: 30rem;
  border: 0.5px solid #dee2e6 !important;
}

.results-card-section strong {
  font-weight: normal;
  font-size: 3rem;
}

.results-card-section p {
  font-size: 1rem;
}

.results-card-section .card-header,
.results-card-section .card-header strong {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.testimonial-section-info > strong {
  color: rgba(226, 164, 109, 1);
  font-size: 1.125rem;
}

.testimonial-section-info > h4 {
  font-size: 26px;
  margin: 1rem 0 1.5rem 0;
}

.testimonial-section-cards > .card {
  margin: 2rem 1rem;
  min-width: 25rem;
}

.testimonial-section-cards .round {
  border-radius: 100% !important;
}

.testimonial-section-cards h5 {
  font-weight: bold;
  margin-top: 1rem !important;
}

.testimonial-section-cards .card-text {
  margin-top: 1.5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding: 4.5rem 0 2rem 0;
  margin: 0;
  color: #fff;
}

.no-blend {
  mix-blend-mode: normal;
}

footer caption {
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #fff;
}

footer img {
  min-width: 16.875rem;
  min-height: 4.063rem;
  width: 16.875rem;
  height: 4.063rem;
}

#testiominials {
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .carousel-caption > p {
    text-align: cemter !important;
  }

  .testimonial-section-cards .card-text {
    text-align: center;
    text-align-last: center;
  }

  .cards-section > .card {
    max-height: 23rem;
    min-height: 19rem;
  }

  .cards-section .pi-card:nth-child(2) {
    max-height: 25rem;
    min-height: 25rem;
  }

  .info-section {
    margin-top: 0px;
    width: 100%;
  }

  .results-info-section > h4 {
    text-align-last: left;
    text-align: left;
  }

  .results-card-section h3 {
    font-size: 18px !important;
  }

  .results-card-section p {
    width: 90%;
  }

  #InfoSection1 {
    margin-top: 2rem !important;
  }

  .cta-section {
    margin: 4rem auto;
  }

  .img-section > img {
    width: 80%;
    height: 80%;
  }

  .img-section {
    width: 80%;
    margin: 0 auto;
  }

  .rex-image {
    width: 100%;
    height: auto;
  }

  .info-section2 h3 {
    margin-top: 0 !important;
    padding-top: 0;
  }

  .mt-5 {
    margin-top: 1rem !important;
  }

  .cta-section {
    padding: 3rem;
  }

  .info-section-3 {
    width: 100%;
    margin-right: 0;
  }

  .info-section-3-img img {
    width: 80% !important;
    height: 80% !important;
    margin: 3rem auto !important;
  }

  .info-section-3-img {
    width: 100% !important;
  }

  .results-info-section > p {
    width: 100%;
    margin: 1.5rem auto 0 auto;
  }

  .results-card-section > .card {
    padding: 20px 0 10px 0 !important;
    margin: auto 0;
    min-width: 19rem;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
  }

  .results-card-section {
    margin: 0 auto;
    align-items: center;
  }

  caption {
    text-align: center;
    font-size: 1rem !important;
    padding-top: 1rem;
  }

  .accolades-logo {
    width: 100%;
    height: 100%;
  }

  .results-card-section .card-header > strong {
    font-size: 26px;
    text-align: center;
  }

  .btn-container .btn-secondary {
    margin-top: 2rem;
  }

  #testiominials {
    margin: 1rem auto 0 auto !important;
    text-align-last: center;
  }

  .testimonial-section {
    margin: 2.5rem 0 0 0;
    padding: 4rem 0;
  }

  .testimonial-section-cards h5,
  .testimonial-section-cards h6 {
    text-align: center;
    font-size: 18px;
  }

  .testimonial-section-cards > .card {
    margin: 1.5rem auto;
    min-width: 20rem;
  }

  .cta-section h3 {
    margin-left: auto;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    text-align: center;
  }

  .cta-section .btn-container .btn-secondary {
    margin-top: 2rem !important;
  }

  hr {
    min-height: 5px;
    width: 60px;
    z-index: 6;
    margin: 1.5rem 2.5rem;
    background: rgb(226, 164, 109, 0.9);
  }

  .results-info-section hr {
    margin: 0.5rem 0 0.5rem 2.5rem;
  }

  .btn-container {
    margin: auto;
  }

  .info-section2 {
    margin: auto;
    max-width: 100%;
    width: 100rem;
  }

  h2,
  h3,
  h4 {
    font-size: 26px !important;
  }

  .results-card-section > .card,
  .cards-section > .card {
    padding: 1rem;
    margin: 1.5rem auto;
  }

  .cards-section > .card {
    max-width: 17.5rem !important;
  }

  footer {
    margin: 0;
    padding: 2rem 0 0 0;
  }

  footer figure {
    mix-blend-mode: plus-lighter;
  }

  footer img {
    width: 12rem;
    min-width: 12rem;
    height: auto;
    min-height: auto;
  }

  .cover {
    background-image: url("../../../assets/courthouse-header-fixed-glare.webp");
    background-attachment: scroll;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cards-section p {
    text-align: center !important;
    max-width: 60ch;
    text-align-last: center;
    word-wrap: break-word;
  }

  .cards-section h3 {
    text-align: center;
    text-align-last: center;
  }

  form h4,
  form h5 {
    text-align: center;
    width: 100% !important;
  }
}

@media (min-width: 1400px) {
  .aspen-five-star-review {
    margin-top: 30px;
  }

  .armando-five-star-review {
    top: 55px;
  }

  #InfoSection1 {
    margin: 4rem auto;
    width: 90%;
  }

  .cards-section .pi-card .card-text {
    font-size: 15px;
  }

  .cards-section > .card {
    width: 15rem;
  }

  #InfoSection1 .cards-section > .card {
    width: 15rem;
    padding: 0 0.5rem;
    max-height: 17.5rem;
    min-height: 17.5rem;
  }

  .results-card-section > .card {
    min-height: 25.5rem;
  }

  i {
    padding-top: 0.5rem;
  }

  .no-show-desktop {
    display: none;
  }
}
