form {
  color: #000 !important;
}

.spinner-container {
  /* Center the spinner */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
  position: relative !important;
  top: 40% !important;
}

.success-message {
  text-align: center;
  font-size: 1.5rem;
}

.success-message h5 {
  font-size: 1.5rem !important;
  font-weight: bold;
  color: green;
}

.success-message p {
  color: green;
  word-spacing: -3px;
}

.fade-out {
  animation: fadeOut 1s;
  opacity: 0;
  transition:
    visibility 0s 1s,
    opacity 1s linear;
}

.form-section {
  display: flex;
  flex-direction: column;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.form-section {
  border-radius: 15px;
  padding: 0;
  margin: 0 0 2rem 0;
  width: 40rem;
}

.form-section .card-header,
.form-section .card-footer {
  padding: 1.5rem;
}

form label {
  font-size: 0.75rem;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 0rem 1rem;
}

.form-section .card-body {
  padding: 2rem 5rem;
}

.card-header .form-section label {
  font-weight: 600;
  margin: 0;
  padding: 0.5rem 1rem;
  color: #000;
}

.form-section textarea {
  margin-top: 0;
}

button[type="submit"] {
  margin-top: 0;
}

form h4,
form h5 {
  color: #000;
}

form h4 {
  font-size: 1.125rem;
  color: rgba(226, 164, 109, 1);
  font-weight: 700;
}

form h5 {
  font-size: 2.188rem;
  font-weight: 700;
}

.card {
  border: none;
}

form .card-header {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  label[htmlFor="message"] {
    margin-bottom: 0;
  }

  .spinner-border {
    --bs-spinner-width: 7rem;
    --bs-spinner-height: 7rem;
    --bs-spinner-border-width: 0.5em;
    margin: 0rem auto;
    color: rgba(226, 164, 109, 1) !important;
    padding: 0;
  }

  .form-floating > .form-control-plaintext:focus,
  .form-floating > .form-control-plaintext:not(:placeholder-shown),
  .form-floating > .form-control:focus,
  .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.3rem;
  }

  .form-section {
    margin: 2rem auto !important;
  }

  .form-section .card-header {
    padding: 0;
  }

  .form-section textarea {
    line-height: 4 !important;
  }

  .form-section .card-body {
    padding: 0rem 1.5rem;
  }

  button[type="submit"] {
    margin-top: 0;
    width: 60%;
    margin: 0rem auto;
  }

  .form-section label {
    font-size: 0.8rem;
  }

  #form {
    width: 100%;
  }

  .form-floating > .form-control,
  .form-floating > .form-control-plaintext,
  .form-floating > .form-select {
    line-height: 1.5;
  }

  .form-section {
    border-radius: 15px;
    padding: 0rem;
    margin: auto;
    width: 90%;
  }

  textarea {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}
