.offcanvas {
  background-image: linear-gradient(150deg, #00496b 1%, #002970 100%);
  color: #fff;
  height: 50% !important;
  overflow-y: auto;
}

.offcanvas .container {
  padding: 0 0.1rem;
  margin: auto;
}

.offcanvas-title {
  width: 100%;
  margin: 1rem auto;
}

.offcanvas-header p {
  margin-bottom: 0;
}

.offcanvas-header h3,
.offcanvas-body h4 {
  color: rgb(216, 142, 76);
  font-weight: 700;
}

.offcanvas-header h3 {
  font-size: 2rem;
}

.offcanvas-header {
  padding-top: 0;
  margin-top: 0;
  height: 15vh;
}

.offcanvas-header .btn-close {
  background-color: rgba(216, 142, 76);
  opacity: 1 !important;
}

@media only screen and (max-width: 767px) {
  .offcanvas-header {
    flex-direction: column-reverse;
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 28vh;
  }

  .offcanvas-body p {
    word-spacing: -3px;
  }

  .offcanvas-title {
    width: 70%;
    margin: 0 auto;
  }

  .offcanvas-header h3,
  .offcanvas-header p {
    text-align: left;
    width: 100% !important;
    padding: 0;
    margin: 0;
  }

  .btn-close {
    padding: 0.5rem !important;
    font-size: 1.5rem;
    background-image: url("../../../node_modules/bootstrap-icons/icons/arrow-up-circle.svg");
  }

  .offcanvas-header p {
    margin: 0 auto !important;
    width: 100%;
  }
}
